.CarsImage
{
	display:inline-block;
	width:30%;
	height: 200px;
	list-style-type:none;
	padding-left:25px;	
	margin-left:5%;
	vertical-align:top;
	
}

.cars li div
{
	display:inline-block;
	width:30%;
	margin:10px 10px;
	list-style-type:none;
	padding:15px;	
	margin-left:10px;
	vertical-align:top;
	
}
.cars
{
	list-style-type:none;
}
.carDetail
{
	display:inline-block;
	margin:10px 10px;
	
}

.stockDetail
{
    margin:10px;
    border:2px solid red;
    
}

.pageButton
{
	margin-left:40%;
	margin-right:20px;
}






